.split{
    display:flex;
}

.left{
    height:455px;
    width:25%;
    background:pink;
    /* border:1px black solid; */
}
  
.right{
    height:455px;
    width:75%;
    background:blue;
    /* border:1px red solid; */
} 

.content{
    margin-left: 20px;
}

.h1{
    font-family: open-Sans Bold;
    font-size: 38;
}